################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JL2OFXVB/bin/Debug
/JL2OFXVB/publish
/JL2OFXVB/obj
/JL2OFXVB/bin/Release/app.publish
